body { background: #c6ec37; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 45px; display: flex; }
.block-search-0 { color: #cd8af4; font-size: 12px; margin-bottom: 5px; }
.block-uploader-1 { color: #32b565; font-size: 18px; margin-bottom: 5px; }
.block-search-2 { color: #67332f; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #55822e; font-size: 21px; margin-bottom: 5px; }
.block-session-4 { color: #55372b; font-size: 20px; margin-bottom: 5px; }
.block-invoice-5 { color: #4831b5; font-size: 17px; margin-bottom: 5px; }
.block-token-6 { color: #93934a; font-size: 18px; margin-bottom: 5px; }